{% extends "base.html" %}

{% block content %}
<section class="hero">

    <div class="hero-content-area">
        <h1 id=budget_title1 >Toutes les données nécessaires.></h1>
        <h1 id=budget_title2>En un clic.</h1>
        <h3 id="the_problem">Rassembler toutes les infomations nécessaires pour votre projet vous prends du temps.<br
                font-weight:bold;>Faites des économies et gagnez en rapidité.</h3>
        <a class="btn cta-btn cd-popup-trigger">Mon espace</a>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">

        </div>
    </div>
{% endblock %}



---------------Folder prject name
├── __init__.py # setup your app
├── main.py # the non-auth routes for your app
├── auth.py # the auth routes for your app
├── models.py # your user model
├── db.sqlite # your database
└── templates
├── base.html # contains common layout and links
├── index.html # show the home page
├── login.html # show the login form
├── profile.html # show the profile page
└── signup.html # show the signup form